<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <a href="/logout" class="btn_red">Se déconnecter</a>
    <a href="/delaccount" class="btn_red">Supprimer le compte</a>

    <h1>Messages</h1>

    <p>
        Nos amoureux de la patate parlent ici de leur sujet préféré.
        N'hésitez pas à faire de même !
    </p>
    <p>Connecté en tant que <strong><%= user.username %></strong></p>


    <form action="/messages" method="POST" class="form">
        <textarea name="content"
                placeholder="Écris ton message ici..."></textarea>
        <button type="submit" class="btn">Publier</button>
    </form>
    <div class="articles">
<% messages.forEach(message => { %>
    <div class="article">
        <h3><%= message.username %></h3>
        <p><%= message.content %></p>
        <% if (message.id_user === user.id) { %>
            <a class="link" href="/messages/edit/<%= message.id_message %>">Modifier</a>
            <a class="link_delete" href="/messages/delete/<%= message.id_message %>">Supprimer</a>
        <% } %>
    </div>
<% }) %>


    </div>
</div>

</body>
</html>
